@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* public style */

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

.head {
  text-transform: capitalize;
  color: #252c30;
  margin-bottom: 40px;
}

.head h2 {
  font-weight: 700;
  margin-bottom: 20px;
}

.head h2 span {
  color: #ffc000;
}

/* Start Header */
header .top {
  background-color: #2d3e50;
  min-height: 60px;
  line-height: 52px;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
}

header .top a {
  color: #fff;
  display: block;
}

header .top a i {
  color: #ffc000;
}

.navbar {
  padding: 20px 0;
}
.navbar-brand {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 22px;
  margin-right: 210px;
}

.navbar-brand span {
  color: #ffc000;
}

.nav-link {
  color: #252c30;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 45px !important;
}

.nav-link:hover,
.nav-link.active {
  color: #ffc000 !important;
}

#search-btn {
  all: unset;
  cursor: pointer;
}

/* End Header */

/* Start Slider */

.slide .caption {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  text-align: center;
  width: 640px;
  text-transform: capitalize;
}

.slide .caption h2 {
  font-size: 55px;
  margin-bottom: 15px;
}

.slide .caption h2 span {
  color: #ffc000;
}

.slide .caption p {
  font-weight: 300;
}

.btn-warning {
  background-color: #ffc000;
  min-width: 210px;
  padding: 10px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  color: #fff;
}

.slide .caption .btn-warning {
  margin-top: 35px;
}

.carousel-item {
  height: 780px;
}

.carousel-item img {
  height: 100%;
  object-fit: cover;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffc000'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>");
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffc000'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>");
}

.carousel-indicators [data-bs-target] {
  background-color: #ffc000;
  height: 7px;
}

/* End Slider */

/* Start About */

.about {
  padding-top: 70px;
  padding-bottom: 70px;
}

.about .box {
  background-color: #2d3e50;
  text-align: center;
  color: #fff;
  padding: 80px 20px;
  font-weight: 300;
  line-height: 1.8;
  border: 1px solid;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.about .box figure {
  width: 75px;
  height: 75px;
  background-color: #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: grid;
  place-content: center;
  margin: auto;
  margin-bottom: 35px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.about .box figure img {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.about .box h3 {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 15px;
}

.about .box:hover {
  background: transparent;
  color: #000;
}

.about .box:hover figure {
  background: #ffc000;
}

.about .box:hover figure img {
  filter: brightness(0) invert(1);
  -webkit-filter: brightness(0) invert(1);
}
/* End About */

/* Start Services */
.services {
  position: relative;
  overflow: hidden;
}

.services > figure {
  position: absolute;
  width: 45%;
  left: 0;
  top: 0;
  height: 600px;
}

.services > figure > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.services .head {
  margin-top: 70px;
}

.services .box figure {
  width: 75px;
  height: 75px;
  background: #2d3e50;
  flex: 0 0 auto;
  margin-right: 30px;
  display: grid;
  place-content: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.services .box {
  font-weight: 300;
  line-height: 1.7;
}

.services .box h5 {
  font-weight: 600;
}
/* End Services */

/* Start Numbers */

.numbers {
  background-image: url("../images/numbers.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 100px;
  margin-bottom: 100px;
  min-height: 300px;
}

.numbers .item {
  color: #fff;
  text-align: center;
  padding-top: 100px;
}

.numbers .item h4 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}

.numbers .item strong {
  font-size: 45px;
}

/* End Numbers */

/* Start Offer */
.we-offer {
  margin-bottom: 100px;
}

.we-offer .box figure {
  width: 50px;
  flex: 0 0 auto;
  margin-right: 60px;
}

.we-offer .box .caption h2 {
  font-size: 22px;
  font-weight: 400;
}

.we-offer h2 span {
  color: #ffc000;
}
/* End Offer */

/* Start Gallery */
.gallery {
  margin-bottom: 100px;
}

.gallery figure {
  margin: 0;
  position: relative;
  height: 500px;
  overflow: hidden;
}

.gallery figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery figure a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: grid;
  place-content: center;
  background: rgb(255 192 0 / 51%);
  color: #fff;
  opacity: 0;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
}

.gallery figure:hover a {
  opacity: 1;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}

.nav-tabs,
.nav-tabs .nav-link {
  border: 0;
}

.nav-tabs {
  margin-bottom: 40px;
}
/* End Gallery */
